<template>
    <div class="sidebar-category">
            <div class="category-title">
                <span>Categories</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content">
                <div class="has-feedback has-feedback-left form-group">
                    <input type="search"  name="key"  class="form-control" placeholder="Search..." @keyup="onSearchCategories($event.target)" v-model="key">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-size-small text-muted"></i>
                    </div>
                </div>
            </div>

            <div class="category-content no-padding">
                <ul class="navigation">
                    <li v-for="category in categories">
                        <a href="javascript:;" @click="loadPosts(category)"> <span class="badge bg-teal pull-right">{{ category.posts_count }}</span> <i class="icon-certificate"></i>
                            {{ category.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</template>
<style>
</style>
<script>
    import Vuex from 'vuex';
    export default{
        data(){
            return{
                key:''
            }
        },
        components:{
        },
         mounted ()  {
            this.getAllCategories()
        },
        updated ()  {
            $('[data-popup="tooltip"]').tooltip()
        },
        computed:{
            ...Vuex.mapGetters({
                    posts : 'allPosts',
                    mode : 'getMode',
                    pagination : 'allPagination',
                    getDate : 'getDate',
                    categories : 'getCategories',
                    search : 'getSearch',
            })
        },
        methods: {
            ...Vuex.mapActions({
                addPosts : 'addPosts',
                addPagination : 'addPagination',
                addCategories : 'addCategories',
                toggleLoading : 'toggleLoading',
                addSearch : 'addSearch',
                addCategoryId : 'addCategoryId',
            }),
            getAllCategories() {
                this.$http.get('categories/show')
                    .then(this.onAllCategories)
                    .catch(this.onFailed);
            },
            onSearchCategories(field){
                this.key
                if(this.key.length > 0){
                     this.$http.get('categories/load/' + this.key)
                        .then(this.onAllCategories)
                        .catch(this.onFailed);
                } else {
                     this.$http.get('categories/show')
                        .then(this.onAllCategories)
                        .catch(this.onFailed);
                }
            },
            loadPosts(category){
                let formData = new FormData()
                formData.append('category_id', category.id);
                formData.append('page', this.pagination.page);
                formData.append('perPage', this.pagination.perPage);
                formData.append(Object.keys(this.getDate), true);
                if (category.posts_count > 0) {
                     this.toggleLoading(true)
                     this.$http.post('posts/view', formData)
                        .then(this.onAllPosts)
                        .catch(this.onFailed);
                }
            },
            onAllPosts(response){
                this.addPosts(response.data.posts)
                this.addPagination(response.data.pagination)
                this.addCategoryId(response.data.category_id)
                this.toggleLoading(false)
            },
            onAllCategories(response){
                this.addCategories(response.data.categories)
                this.addSearch(response.data.search)
                this.toggleLoading(false)
            },
            onFailed(error) {
                if (error) {
                    console.log(error)
                } else {
                    console.log(error)
                }
            },
        }
    }
</script>
