<template>
    <div>
        <ul class="fab-menu fab-menu-absolute fab-menu-top-right" data-fab-toggle="hover" id="fab-menu-affixed-demo-right">
            <li>
                <a class="fab-menu-btn btn  bg-teal-400  btn-float btn-rounded btn-icon">
                    <i class="fab-icon-open icon-grid3"></i>
                    <i class="fab-icon-close icon-cross2"></i>
                </a>

                <ul class="fab-menu-inner">
                    <li>
                        <div data-fab-label="Poster">
                            <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                                <i class="icon-pencil"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div data-fab-label="Notifications">
                            <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                                <i class="icon-bubbles7"></i>
                            </a>
                            <span class="badge bg-teal-400">5</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
                msg:'hello vue'
            }
        },
    }
</script>
