<template>
    <div>
        <div class="text-center content-group-lg pt-20">
            <ul class="pagination">
                <li :class="pagination.page == 1 ? 'disabled' : '' "><a href="javascript:;" @click="onPagination(1)"><i class="icon-arrow-small-left"></i></a></li>
                <li  v-for="i in pagination.nbPage" :class="i == pagination.page ? 'active' : '' "><a href="javascript:;" @click="onPagination(i)">{{ i }}</a></li>
                <li :class="pagination.page == pagination.nbPage ? 'disabled' : '' "><a href="javascript:;" @click="onPagination(pagination.nbPage)"><i class="icon-arrow-small-right"></i></a></li>
            </ul>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import Vuex from 'vuex';
    export default{
        data(){
            return{

            }
        },
        props : {
        },
        components:{

        },
        computed:{
            ...Vuex.mapGetters({
                    pagination : 'allPagination',
                    getDate : 'getDate',
                    category_id : 'getCategoryId',
                    posts_search : 'getSearchPosts',
            })
        },
        methods: {
            ...Vuex.mapActions({
              addPosts : 'addPosts',
              addPagination : 'addPagination',
              toggleLoading : 'toggleLoading',
              postSearch : 'addSearchPosts',
            }),
            onPagination(page) {
                this.toggleLoading(true)
                let formData = new FormData()
                formData.append('page', page);
                formData.append('search', this.posts_search);
                if (this.category_id !== null) {
                    formData.append('category_id', this.category_id);
                }
                formData.append('perPage', this.pagination.perPage);
                formData.append(Object.keys(this.getDate), true);
                this.$http.post('posts/view', formData)
                    .then(this.onAllPosts)
                    .catch(this.onFailed);
            },
            onAllPosts(response){
                this.addPosts(response.data.posts)
                this.addPagination(response.data.pagination)
                this.postSearch(response.data.search)
                this.toggleLoading(false)
            },
            onFailed(error) {
                if (error) {
                    console.log(error)
                } else {
                    console.log(error)
                }
            },
        }
    }
</script>
