<template>
    <div class="row">
        <!-- Mini size -->
        <post :post="post" :comments="post.comments" :tags="post.tags" :category="post.category" :user="post.user" v-for="post in posts" :key="post.id"></post>
        <!-- /mini size -->
    </div>
</template>
<style>
</style>
<script>

    import Vuex from 'vuex';
    import Post from './Posts/Post.vue'
    export default{
        name:'Posts',
        components: { Post },
        props: {

        },
        data(){
            return{
            }
        },
        mounted ()  {
            this.getAllPosts()
        },
        updated ()  {
            $('[data-popup="tooltip"]').tooltip()
        },
        computed:{
            ...Vuex.mapGetters({
                    posts : 'allPosts',
            })
        },
        methods: {
            ...Vuex.mapActions({
              addPosts : 'addPosts',
              addPagination : 'addPagination'
            }),
            getAllPosts() {
                this.$http.get('posts')
                    .then(this.onAllPosts)
                    .catch(this.onFailed);
            },

            onAllPosts(response){
                this.addPosts(response.data.posts)
                this.addPagination(response.data.pagination)
            },

            onFailed(error) {
                if (error) {
                    console.log(error)
                } else {
                    console.log(error)
                }
            },
        }
    }

</script>
