<template>
    <div>
        <div class="navbar navbar-default navbar-xs navbar-component">
            <ul class="nav navbar-nav no-border visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-filter">
                <p class="navbar-text">Filter:</p>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-alpha-asc position-left"></i> By Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Show all</a></li>
                            <li class="divider"></li>
                            <li v-for="category in categories" :class="category.id === category_id ? 'active' : ''"><a href="javascript:;" @click="loadPosts(category)">{{ category.name }} <span class="badge bg-teal pull-right">{{ category.posts_count }}</span></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> By date <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Show all</a></li>
                            <li class="divider"></li>
                            <li :class="Object.keys(this.getDate)[0] === 'day' ? 'active' : ''"><a href="javascript:;"  @click="onDate('day')">Today</a></li>
                            <li :class="Object.keys(this.getDate)[0] === 'yesterday' ? 'active' : ''"><a href="javascript:;"  @click="onDate('yesterday')">Yesterday</a></li>
                            <li :class="Object.keys(this.getDate)[0] === 'week' ? 'active' : ''"><a href="javascript:;"  @click="onDate('week')">This week</a></li>
                            <li :class="Object.keys(this.getDate)[0] === 'month' ? 'active' : ''"><a href="javascript:;"  @click="onDate('month')">This month</a></li>
                            <li :class="Object.keys(this.getDate)[0] === 'year' ? 'active' : ''"><a href="javascript:;"  @click="onDate('year')">This year</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-amount-desc position-left"></i> By status <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Show all</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Published</a></li>
                            <li><a href="#">Not Published</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-numeric-asc position-left"></i> By page <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li :class="pagination.perPage === 4 ? 'active' : ''"><a href="javascript:;" @click="onPage(4)">4</a></li>
                            <li class="divider"></li>
                            <li :class="pagination.perPage === 8 ? 'active' : ''"><a href="#" @click="onPage(8)">8</a></li>
                            <li class="divider"></li>
                            <li :class="pagination.perPage === 16 ? 'active' : ''"><a href="#" @click="onPage(16)">16</a></li>
                            <li class="divider"></li>
                            <li :class="pagination.perPage === 32 ? 'active' : ''"><a href="#" @click="onPage(32)">32</a></li>
                        </ul>
                    </li>

                    <li data-popup="tooltip" title="Add Posts" @click="addPost"><a href="#"><i class="icon-plus3"></i></a></li>
                    <li data-popup="tooltip" title="Reload" @click="getAllPosts"><a href="#"><i class="icon-sync"></i></a></li>
                </ul>

                <div class="navbar-right">
                    <div class="heading-elements">
                        <form class="heading-form" action="#">
                            <div class="form-group">
                                <div class="has-feedback">
                                    <input type="search" name="search" class="form-control" placeholder="Search" v-model="searchPosts" @keyup="onSearch">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-size-small text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="navbar-form navbar-left" action="#">
                            <div class="form-group">
                                <label class="checkbox-inline switchery-double checkbox-switchery switchery-xs">
                                    List
                                    <input type="checkbox" class="switch-mode" checked="checked" @click="viewMode">
                                    Grid
                                </label>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import Vuex from 'vuex';
    export default{
        data(){
            return{
                searchPosts: '',
            }
        },
        components:{
        },
        updated ()  {
            $('[data-popup="tooltip"]').tooltip()
        },
        computed:{
            ...Vuex.mapGetters({
                    pagination : 'allPagination',
                    getDate : 'getDate',
                    mode : 'getMode',
                    category_id : 'getCategoryId',
                    categories : 'getCategories',
                    posts_search : 'getSearchPosts',
            }),
        },
        methods: {
            ...Vuex.mapActions({
              addPosts : 'addPosts',
              addPagination : 'addPagination',
              toggleLoading : 'toggleLoading',
              addFiltersDate : 'addFiltersDate',
              addCategoryId : 'addCategoryId',
              addMode : 'addMode',
              postSearch : 'addSearchPosts',
            }),
            onPage(perPage) {
                this.toggleLoading(true)
                let formData = new FormData()
                formData.append('page', this.pagination.page);
                formData.append('perPage', perPage);
                formData.append('search', this.posts_search);
                if(this.category_id !== null){
                    formData.append('category_id', this.category_id);
                }
                if(!$.isEmptyObject(this.getDate)){
                    formData.append(Object.keys(this.getDate), true);
                }
                this.$http.post('posts/view', formData)
                    .then(this.onAllPosts)
                    .catch(this.onFailed);
            },
            loadPosts(category){
                let formData = new FormData()
                formData.append('page', this.pagination.page);
                formData.append('perPage', this.pagination.perPage);
                formData.append('category_id', category.id);
                if(!$.isEmptyObject(this.getDate)){
                    formData.append(Object.keys(this.getDate), true);
                }
                if(category.posts_count > 0){
                     this.toggleLoading(true)
                     this.$http.post('posts/view', formData)
                        .then(this.onAllPosts)
                        .catch(this.onFailed);
                }
            },
            onDate(date) {
                this.toggleLoading(true)
                let formData = new FormData()
                this.dateFormat(formData, date)
                formData.append('page', this.pagination.page);
                formData.append('perPage', this.pagination.perPage);
                formData.append('search', this.posts_search);
                if(this.category_id !== null){
                    formData.append('category_id', this.category_id);
                }
                this.$http.post('posts/view', formData)
                    .then(this.onAllPosts)
                    .catch(this.onFailed);
            },
            onSearch(target){
                this.searchPosts
                if (this.searchPosts.length > 0) {
                    this.toggleLoading(true)
                    let formData = new FormData()
                    formData.append('search', this.searchPosts);
                    formData.append('page', this.pagination.page);
                    formData.append('perPage', this.pagination.perPage);
                    this.$http.post('posts/view', formData)
                        .then(this.onAllPosts)
                        .catch(this.onFailed);
                }
            },
            getAllPosts() {
                this.toggleLoading(true)
                this.$http.get('posts')
                    .then(this.onReset)
                    .catch(this.onFailed);
            },
            onAllPosts(response){
                this.addPosts(response.data.posts)
                this.addPagination(response.data.pagination)
                this.addCategoryId(response.data.category_id)
                this.postSearch(response.data.search)
                this.toggleLoading(false)
            },
            onReset(response){
                this.addPosts(response.data.posts)
                this.addPagination(response.data.pagination)
                this.toggleLoading(false)
            },
            addPost(){
                this.toggleLoading(true)
                $('#modal_large_edit_post').modal('show')
                this.toggleLoading(false)
            },
            viewMode(){
                this.toggleLoading(true)
                this.addMode(!this.mode)
                this.toggleLoading(false)
            },
            dateFormat(formData, date){
                console.log(date);
                switch(date) {
                    case 'day':
                        this.addFiltersDate({day : true})
                        formData.append('day',  true);
                        break;
                    case 'yesterday':
                        this.addFiltersDate({yesterday : true})
                        formData.append('yesterday', true);
                        break;
                    case 'week':
                        this.addFiltersDate({week : true})
                        formData.append('week', true);
                        break;
                    case 'month':
                        this.addFiltersDate({month : true})
                        formData.append('month', true);
                        break;
                    case 'year':
                        this.addFiltersDate({year : true})
                        formData.append('year', true);
                        break;
                    default:

                }
            },
            onFailed(error) {
                if (error) {
                    console.log(error)
                } else {
                    console.log(error)
                }
            },
        }
    }
</script>
