<template>
    <div>
        <div :class="mode ? 'col-lg-6' : 'col-lg-12'">
            <!-- Clean blog layout #2 -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">
                        <h5 class="blog-title text-semibold" style="margin-top: 0; margin-bottom: 5px;">
                            <a href="#" class="text-default">{{ post.name }}</a>
                            <ul class="icons-list navbar-right">
                                <li data-popup="tooltip" title="Edit" @click="editPost(post.id)"><a href="#" class="text-success"><i class="icon-pencil6"></i> &nbsp;</a></li>
                                <li data-popup="tooltip" title="Delete" @click="deletePost"><a href="#" class="text-success"> <i class="icon-trash"></i></a></li>
                            </ul>

                        </h5>
                        <ul class="list-inline list-inline-separate">
                            <li>Category: <a href="#" data-popup="tooltip" :title="category.name" >{{ category.name }}</a></li>
                            <li>By: <a href="#" data-popup="tooltip" :title="user.full_name">{{ user.full_name }}</a></li>
                            <li>{{ post.created_at }}</li>
                        </ul>
                        <ul class="list-inline list-inline-condensed heading-text">
                            <li v-for="tag in tags"><a href="javascript:;"><span class="label bg-teal-300">{{ tag.name }}</span></a></li>
                        </ul>
                    </div>
                    <p v-html="post.content.substr(1, 400) + ''"><a href="#"> [...]</a></p>
                    <blockquote>
                        <p> {{ last_comment_content }}<a href="#"> [...]</a></p>
                        <footer>Jason, <cite title="Source Title">{{ last_comment_created_at }}</cite></footer>
                    </blockquote>
                </div>

                <div class="panel-footer panel-footer-transparent">
                    <div class="heading-elements">
                        <ul class="list-inline list-inline-separate heading-text">
                            <li role="button" data-popup="tooltip" :title="post.comments.length + ' Comments'"><i class="icon-comment position-left"></i>{{ post.comments.length }} comments </li>
                            <li role="button" data-popup="tooltip" :title="post.attachments.length + ' Files'"><i class="icon-attachment position-left"></i>{{ post.attachments.length }} Files </li>
                            <li><i class="icon-users position-left"></i> 67</li>
                            <li><a href="#" class="text-default"><i class="icon-facebook text-primary position-left"></i> 1,489</a></li>
                            <li><a href="#" class="text-default"><i class="icon-twitter text-info position-left"></i> 1,489</a></li>
                        </ul>
                        <a href="#" class="heading-text pull-right" data-popup="tooltip" title="Read More">Read More <i class="icon-arrow-right14 position-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /clean blog layout #2 -->
        </div>
    </div>
</template>
<script>
    import Vuex from 'vuex';
    export default{
        name:'Post',
        components: {},
        props : {
            post : Object,
            comments : Array,
            tags : Array,
            category : Object,
            user : Object,
        },
        data(){
            return{
                msg:'hello vue'
            }
        },
        computed:{
            ...Vuex.mapGetters({
                    mode : 'getMode',
                    currentPost : 'getCurrentPost',
            }),
            last_comment_content : function() {
                return this.comments[this.comments.length - 1] !== undefined ? this.comments[this.comments.length - 1].content.substr(1, 100) : ''
            },
            last_comment_created_at : function() {
                return this.comments[this.comments.length - 1] !== undefined ? this.comments[this.comments.length - 1].created_at : ''
            }
        },
        methods: {
            ...Vuex.mapActions({
                  addPosts : 'addPosts',
                  addCurrentPost  :  'addCurrentPost',
                  modal  :  'formModal',
            }),
            editPost : function(id) {
                this.$http.get('posts/show/' + id)
                        .then(this.onEditPosts)
                        .catch(this.onFailed);
            },
            deletePost : function() {
            },
            onEditPosts : function(response) {
                this.addCurrentPost(response.data.post)
                this.modal({show : true, target : 'modal_large_edit_post'})
            },
            onFailed(error) {
                if (error) {
                    console.log(error)
                } else {
                    console.log(error)
                }
            },
        },


    }
</script>
