<template>
    <!-- User details (with sample pattern) -->
    <div class="content-group">
        <div class="panel panel-body border-radius-top">
            <div class="form-group mt-5">
                <label class="text-semibold">{{ trans('labels.full_name') }}:</label>
                <span class="pull-right-sm">{{ kid.name }}</span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.birth') }}:</label>
                <span class="pull-right-sm"><a href="#">{{ kid.birth }}</a></span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.size') }}:</label>
                <span class="pull-right-sm">{{ kid.size }} cm</span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.weight') }}:</label>
                <span class="pull-right-sm"><a href="#">{{ kid.weight }} g</a></span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.deworming') }}:</label>
                <span class="pull-right-sm">{{ kid.deworming }}</span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.gender') }}:</label>
                <span class="pull-right-sm">{{ kid.gender }}</span>
            </div>

            <div class="form-group">
                <label class="text-semibold">{{ trans('labels.allergy') }}:</label>
                <span class="pull-right-sm"><a href="#">{{ kid.allergy }}</a></span>
            </div>

            <div class="form-group no-margin-bottom">
                <label class="text-semibold">{{ trans('labels.asthmatic') }}:</label>
                <span class="pull-right-sm"><a href="#">{{ kid.asthmatic }}</a></span>
            </div>
        </div>
    </div>
    <!-- /user details (with sample pattern) -->
</template>
<style>
</style>
<script>
    require('es6-promise').polyfill();

    import "babel-polyfill";

    import Vuex from 'vuex';

    global.v = Vuex

    export default{
        name:'KidInfo',
        components: {},
        props : {
            id : Number
        },
        data(){
            return{
                kid : []
            }
        },
        mounted() {
            this.getKid()
        },
        computed:{
            ...Vuex.mapGetters({
                myKid : 'kid'
            })
        },
        methods: {
            ...Vuex.mapActions({
              addKid : 'addKid'
            }),
            getKid() {
                this.$http.get('kids/show/' + this.id)
                    .then(this.onKid)
                    .catch(this.onFailed);
            },
            onKid(response){
                this.addKid(response.data.kid)
                this.kid = this.myKid
            },
            onFailed(error) {
                if (error.response.data) {
                    console.log(error.response.data)
                    //this.form.load(false)
                } else {
                    console.log(error)
                }
            },
        },
    }
</script>
