/***
 Timeline
 ***/
.timeline {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 30px; }
.timeline:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f5f6fa;
  top: 0px;
  bottom: 0px;
  margin-left: 38px; }
.timeline .timeline-item {
  margin: 0;
  padding: 0; }
.timeline .timeline-badge {
  float: left;
  position: relative;
  padding-right: 30px;
  height: 80px;
  width: 80px; }
.timeline .timeline-badge-userpic {
  width: 80px;
  border: 4px #f5f6fa solid;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }
.timeline .timeline-badge-userpic img {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  vertical-align: middle !important; }
.timeline .timeline-icon {
  width: 80px;
  height: 80px;
  background-color: #f5f6fa;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  padding-top: 30px;
  padding-left: 22px; }
.timeline .timeline-icon i {
  font-size: 34px; }
.timeline .timeline-body {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-left: 110px;
  background-color: #f5f6fa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
.timeline .timeline-body:before, .timeline .timeline-body:after {
  content: " ";
  display: table; }
.timeline .timeline-body:after {
  clear: both; }
.timeline .timeline-body-arrow {
  position: absolute;
  top: 30px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #f5f6fa transparent transparent; }
.timeline .timeline-body-head {
  margin-bottom: 10px; }
.timeline .timeline-body-head-caption {
  float: left; }
.timeline .timeline-body-title {
  font-size: 16px;
  font-weight: 600; }
.timeline .timeline-body-alerttitle {
  font-size: 16px;
  font-weight: 600; }
.timeline .timeline-body-time {
  font-size: 14px;
  margin-left: 10px; }
.timeline .timeline-body-head-actions {
  float: right; }
.timeline .timeline-body-head-actions .btn-group {
  margin-top: -2px; }
.timeline .timeline-body-content {
  font-size: 14px;
  font-weight: 400;
  display: block !important;
  margin-top: 35px; }
.timeline .timeline-body-img {
  width: 100px;
  height: 100px;
  margin: 5px 20px 0 0px; }
.timeline.white-bg:before {
  background: #fff; }
.timeline.white-bg .timeline-badge-userpic {
  border-color: #fff; }
.timeline.white-bg .timeline-icon {
  background-color: #fff; }
.timeline.white-bg .timeline-body {
  background-color: #fff; }
.timeline.white-bg .timeline-body-arrow {
  border-color: transparent #fff transparent transparent; }

@media (max-width: 768px) {
  .timeline .timeline-body-head-caption {
    width: 100%; }
  .timeline .timeline-body-head-actions {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  .timeline:before {
    margin-left: 28px; }
  .timeline .timeline-badge {
    padding-right: 40px;
    width: 60px;
    height: 60px; }
  .timeline .timeline-badge-userpic {
    width: 60px; }
  .timeline .timeline-icon {
    width: 60px;
    height: 60px;
    padding-top: 23px;
    padding-left: 18px; }
  .timeline .timeline-icon i {
    font-size: 25px; }
  .timeline .timeline-body {
    margin-left: 80px; }
  .timeline .timeline-body-arrow {
    top: 17px; } }

/***
 Timeline 2
 ***/
.mt-timeline-2 {
  position: relative; }
.mt-timeline-2 > .mt-timeline-line {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
  border-left: 4px solid;
  transform: translateX(-2px); }
.mt-timeline-2 > .mt-container {
  position: relative;
  padding: 0; }
.mt-timeline-2 > .mt-container > .mt-item {
  list-style: none;
  padding-bottom: 60px;
  clear: both; }
.mt-timeline-2 > .mt-container > .mt-item .timeline-body-img.pull-left {
  margin-right: 15px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-icon {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  border-radius: 50% !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border: 0;
  overflow: hidden; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-icon > i {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 24px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-icon > img {
  width: 100%;
  height: auto; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content {
  width: 50%;
  display: inline-block;
  position: relative; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container {
  text-align: left;
  background-color: #f5f6fa;
  padding: 30px;
  border: 2px solid;
  border-color: #d3d7e9; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container:before, .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container:after {
  content: " ";
  display: table; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container:after {
  clear: both; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-author,
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-title {
  width: 50%;
  margin-bottom: 15px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-content-title {
  opacity: 0.8 ;
  filter: alpha(opacity=80) ;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  overflow: hidden; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-avatar > img {
  width: 100%;
  height: auto; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-author-name,
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-author-name a {
  opacity: 0.9 ;
  filter: alpha(opacity=90) ;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-author-notes {
  font-size: 12px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-content {
  padding-top: 15px;
  border-top: 1px solid;
  clear: both;
  line-height: 1.7em; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-content > p {
  opacity: 0.7 ;
  filter: alpha(opacity=70) ; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-content a, .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-content button {
  font-size: 14px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .btn {
  display: inline-block;
  margin: 0 5px 10px 0; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .btn.pull-right {
  margin: 0 0 10px 5px; }
.mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container:before {
  content: '';
  position: absolute;
  top: 28px;
  height: 0;
  width: 0;
  border: 10px solid transparent; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) {
  text-align: left; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container {
  margin-right: 60px; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-title {
  float: left; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author {
  float: right; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-avatar {
  float: right;
  margin-left: 15px; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author-name,
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author-notes {
  text-align: right; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container:before {
  right: 40px;
  border-left: 10px solid #d3d7e9; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) {
  text-align: right; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-icon > i {
  transform: translateY(-50%) translateX(50%);
  left: -50%; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container {
  margin-left: 60px; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-avatar {
  float: left;
  margin-right: 15px; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-title {
  float: right;
  text-align: right; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-author {
  float: left; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-author-name,
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-author-notes {
  text-align: left; }
.mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container:before {
  left: 40px;
  border-right: 10px solid #E9EDEF; }

@media (max-width: 991px) {
  /* 991px */
  .mt-timeline-2 > .mt-timeline-line {
    left: 25px; }
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-icon {
    left: 25px; }
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-icon > i {
    left: 0; }
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content {
    width: 100%; }
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-title {
    float: none;
    text-align: left !important; }
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-author,
  .mt-timeline-2 > .mt-container > .mt-item > .mt-timeline-content > .mt-content-container .mt-title {
    width: 100%; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) {
    text-align: right; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container {
    margin-left: 80px;
    margin-right: 0; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-avatar {
    float: left;
    margin-right: 15px; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-title {
    float: right;
    text-align: right; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author {
    float: left; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author-name,
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container .mt-author-notes {
    text-align: left; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(odd) > .mt-timeline-content > .mt-content-container:before {
    left: 70px;
    border-right: 10px solid #E9EDEF;
    border-left: none; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container {
    margin-left: 80px;
    margin-right: 0; }
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container:before {
    left: 70px;
    border-right: 10px solid #E9EDEF;
    border-left: none; } }

@media (max-width: 480px) {
  .mt-timeline-2 .btn.pull-right,
  .mt-timeline-2 .btn-group.pull-right {
    float: none !important;
    margin: 0 5px 10px 0 !important; } }

@media (max-width: 400px) {
  .mt-timeline-2 > .mt-container > .mt-item:nth-child(even) > .mt-timeline-content > .mt-content-container .mt-author-notes {
    clear: both;
    padding-top: 10px; } }

/***
 Horizontal Timeline
 ***/
/* PLUGIN CSS */
.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none; }

.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1; }

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto; }

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden; }

.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px; }

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0)); }

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0)); }

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s; }

.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s; }

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f; }

.cd-horizontal-timeline .events a.selected {
  pointer-events: none; }

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'; } }

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }

.cd-timeline-navigation a.prev {
  left: 0; }

.cd-timeline-navigation a.next {
  right: 0; }

.cd-timeline-navigation a.inactive {
  cursor: not-allowed; }

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px; }

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf; }

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 10px 0 0 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s; }

.cd-horizontal-timeline .events-content > ol > li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.cd-horizontal-timeline .events-content > ol > li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.cd-horizontal-timeline .events-content > ol > li.enter-right, .cd-horizontal-timeline .events-content > ol > li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right; }

.cd-horizontal-timeline .events-content > ol > li.enter-left, .cd-horizontal-timeline .events-content > ol > li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left; }

.cd-horizontal-timeline .events-content > ol > li.leave-right, .cd-horizontal-timeline .events-content > ol > li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse; }

.cd-horizontal-timeline .events-content > ol > li {
  margin: 0 auto; }

.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto; }

.cd-horizontal-timeline .events-content em::before {
  content: '- '; }

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

/* METRONIC EXTENDED CSS */
.mt-timeline-horizontal {
  font-size: 14px; }
.mt-timeline-horizontal ol, .mt-timeline-horizontal ul {
  list-style: none; }
.mt-timeline-horizontal blockquote, .mt-timeline-horizontal q {
  quotes: none; }
.mt-timeline-horizontal blockquote:before, .mt-timeline-horizontal blockquote:after,
.mt-timeline-horizontal q:before, .mt-timeline-horizontal q:after {
  content: '';
  content: none; }
.mt-timeline-horizontal table {
  border-collapse: collapse;
  border-spacing: 0; }
.mt-timeline-horizontal .timeline {
  width: 100%;
  max-width: 100%; }
.mt-timeline-horizontal .timeline:before {
  background: transparent; }
.mt-timeline-horizontal .timeline .events-wrapper .events a:after {
  background-color: transparent;
  border: 2px solid; }
.mt-timeline-horizontal .timeline .events-wrapper .events a.selected:after {
  background-color: #fff !important; }
.mt-timeline-horizontal .timeline .events-wrapper .events a:hover, .mt-timeline-horizontal .timeline .events-wrapper .events a:focus {
  text-decoration: none; }
.mt-timeline-horizontal .timeline .events-wrapper:before, .mt-timeline-horizontal .timeline .events-wrapper:after {
  background-image: none; }
.mt-timeline-horizontal .timeline .mt-ht-nav-icon li a {
  border-radius: 50% !important; }
.mt-timeline-horizontal .timeline .mt-ht-nav-icon li a i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(50%) translateY(-50%);
  width: 10px; }
.mt-timeline-horizontal .timeline .mt-ht-nav-icon li:first-child a i {
  left: -2px; }
.mt-timeline-horizontal .timeline.mt-timeline-square .events a:after {
  border-radius: 0 !important; }
.mt-timeline-horizontal .timeline.mt-timeline-square .mt-ht-nav-icon li a {
  border-radius: 0 !important; }
.mt-timeline-horizontal .events-content ol {
  padding: 0; }
.mt-timeline-horizontal .events-content ol li .mt-title {
  margin-top: 15px;
  float: left;
  width: 60%; }
.mt-timeline-horizontal .events-content ol li .mt-title h2 {
  margin: 0;
  opacity: 0.8 ;
  filter: alpha(opacity=80) ;
  font-size: 18px;
  font-weight: 600; }
.mt-timeline-horizontal .events-content ol li .mt-author {
  float: right;
  position: relative;
  text-align: right;
  width: 40%; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-avatar {
  float: right;
  margin-left: 15px; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-name {
  margin-top: 5px; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-name a {
  opacity: 0.9 ;
  filter: alpha(opacity=90) ;
  font-size: 15px;
  font-weight: 600; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-name a:hover, .mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-name a:focus {
  text-decoration: none; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-datetime {
  font-size: 13px; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  overflow: hidden; }
.mt-timeline-horizontal .events-content ol li .mt-author > .mt-avatar > img {
  width: 100%;
  height: auto; }
.mt-timeline-horizontal .events-content ol li .mt-content {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
  clear: both;
  line-height: 1.7em; }
.mt-timeline-horizontal .events-content ol li .mt-content > p {
  opacity: 0.7 ;
  filter: alpha(opacity=70) ; }
.mt-timeline-horizontal .events-content ol li .mt-content img.pull-left {
  margin: 0 15px 15px 0; }
.mt-timeline-horizontal .events-content ol li .mt-content img.pull-right {
  margin: 0 0 15px 15px; }
.mt-timeline-horizontal .events-content ol li .mt-content .btn-group .dropdown-menu {
  margin-right: 5px; }

@media (max-width: 480px) {
  .mt-timeline-horizontal .events-content ol li .mt-title {
    width: 100%; }
  .mt-timeline-horizontal .events-content ol li .mt-author {
    width: 100%;
    margin-top: 15px;
    text-align: left; }
  .mt-timeline-horizontal .events-content ol li .mt-author > .mt-avatar {
    float: left;
    margin-right: 15px;
    margin-left: 0; }
  .mt-timeline-horizontal .events-content ol li .mt-author > .mt-author-name {
    margin-top: 10px; }
  .mt-timeline-horizontal .btn.pull-right {
    float: none !important;
    margin: 0 !important; } }
