/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.footer-img a {
  width: 33.33%;
}
.blog-info2 h2 {
	line-height: 30px;
	margin: 12px 0;
	font-size: 18px;
}
.blog-info2 p {
  font-size: 14px;
  margin-bottom: 10px;
}
.blog-info2 .blog-meta {
  margin-top: 10px;
}
.home4-blog-content .blog-meta span {
  margin-left: 5px;
}
.home4-blog-content h2 {
  font-size: 21px;
}
.home5-blog-content.home4-blog-content {
  padding: 0 20px;
}
.home5-blog-info2 h3 {
  font-size: 14px;
}
.home5-blog-info2 .blog-meta span {
  margin-left: 1px;
}
.blog-info2.home5-blog-info2 {
  padding: 8px 10px;
}
.home7-blog-wrap .blog-info span.date {
  top: -303px;
}
.home7-blog-wrap .blog-info h2 a {
  font-size: 20px;
}
.categories-info h3 a {
  font-size: 18px;
}
.categories-info h3 {
  margin: 7px 0;
}
.categories-info p {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 10px;
}
.single-product-content h2,.shop-range.mb-30 {
  margin-bottom: 10px;
}
.text {
  margin: 10px 0;
  padding: 10px 0;
}
.about-content .categorie-icon::after {
  width: 60%;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo {
  margin-bottom: 20px;
}
.single-slider h1 {
  font-size: 45px;
}
.single-slider p {
  font-size: 16px;
}
.single-slider p {
  padding: 0 130px;
}
.mainmenu li a {
  margin-left: 5px;
}
.footer-img a {
  width: 33.33%;
}
.pt-390 {
  padding-top: 200px;
}
.single-footer-text span {
  margin-right: 6px;
}
.footer-wrap p {
  font-size: 14px;
}
.blog-sidebar-area, .shop-category-area{
	width:360px;
	margin:auto;
}
.home5-blog-info2 h3 {
  font-size: 17px;
}
.blog-info2.home5-blog-info2 {
  padding: 23px 10px;
}
.blog-search-blox {
  margin-top: 60px;
}
.home7-blog-wrap .blog-info span.date {
  top: -180%;
}
.categories-info h3 {
  margin: 15px 0;
}
.product-active .owl-nav div {
  padding: 90px 10px;
}
.product-tab {
  margin-bottom: 30px;
}
.tab-content.mb-20 {
  text-align: center;
}
#googleMap {
  height: 350px;
}
.cdown.days {
  width: 220px;
}
.cdown.hour {
  width: 140px;
}
.cdown.minutes {
  width: 150px;
}
.cdown.second > span {
  width: 150px;
}
.time-count {
  font-size: 60px;
}
.coming-soon-heading h1 {
  font-size: 80px;
}
.coming-soon-heading {
  padding: 100px 0 100px;
}
.deal-count {
  padding-bottom: 80px;
}
.coming-soon-area {
  min-height: 670px;
}
.single-footer-text:last-child {
  display: none;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.socil-icon > a {
  font-size: 12px;
  padding: 0 5px;
}
.socil-icon ul li a {
  padding: 5px 0;
  font-size: 14px;
}
.logo.mt-20 {
  margin-bottom: 20px;
}
.search-box.mt-10 input {
  border: 1px solid #888888;
  margin-bottom: 10px;
  margin-top: 10px;
}
.pt-390 {
  padding-top: 100px;
}
.single-slider h1 {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 15px;
  padding: 0 10px;
}
.single-slider p {
	display:none;
}
.single-slider a {
  font-size: 14px;
}
.blog-info {
  padding: 0 10px 30px 10px;
}
.blog-info span.date {
  left: 5px;
  top: -55px;
}
.blog-wrap .blog-audio iframe {
  height: 135px;
}
.blog-meta span {
  margin-left: 6px;
}
.blog-info h2 a {
  font-size: 18px;
}
.blog-info h2 {
  font-size: 16px;
}
.blog-info p {
  margin-bottom: 20px;
}
.blog-img iframe {
  min-height: 160px;
}
.instagram-img {
  margin-bottom: 3px;
  padding-left: 3px;
  width: 50%;
}
.footer-wrap {
  margin-bottom: 30px;
}

.footer-bottom-area p {
	margin-bottom: 10px;
	text-align: center;
}
a#scrollUp {
  right: 10px;
}
.blog-wrap .blog-video iframe {
  height: 125px;
}
.home4-blog-img2, .blog-info2 {
  float: none;
  width: 100%;
}
.blog-info2 h2 {
  margin: 10px 0;
}
.home4-blog-content {
  padding: 0 50px;
}
.home4-blog-content h2 {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 15px;
}
.blog-search-blox.mb-60 {
  margin-top: 60px;
}
.home7-blog-wrap .blog-info span.date {
  top: -280px;
}
.standard-post-content {
  padding: 30px 10px;
}
.standard-post-wrap .blog-meta {
  padding-left: 0;
}
.share-icon ul li {
  margin-right: 0;
}
.standard-post-form.clear.mb-70 p {
  padding: 0;
  width: 100%;
}
.comment-wrap.clear.mr-68 {
  margin: 0;
}
.breadcrumb-text ul li a, .breadcrumb-text ul li {
  font-size: 20px;
}
.categories-info {
  margin-top: 20px;
}
.categorie-icon ul li a {
  margin-right: 5px;
}
.name span, .comment span {
  margin-right: 5px;
}
.mb-80 {
  margin-bottom: 50px;
}
.product-tab {
  margin-bottom: 30px;
}
.product-categorie-icon ul {
  margin-right: 5px;
}
.categorie-icon.product-categorie-icon li a {
  font-size: 15px;
}
.tab-menu ul li a {
  padding: 15px 25px 0 0;
}
.review-area h2 {
  font-size: 17px;
}
.review-area ul li.review-1 .review-content {
  width: 90%;
}
.review-img {
  width: 20%;
}
.tab-content2 {
  width: 68%;
}
.from-style p {
  padding-right: 0;
  width: 100%;
}
.payment-info p {
  padding-right: 0;
}
.about-text {
  margin-left: 15px;
  padding-left: 15px;
}
.about-text::after {
  left: -20px;
}
.about-content .categorie-icon::after {
  display: none;
}
.button {
  width: 130px;
}
.contact-area .from-style p {
  padding-left: 0;
  width: 100%;
}
#googleMap {
  height: 250px;
}
.coming-soon-heading h1 {
  font-size: 45px;
}
.time-count {
  font-size: 22px;
}
.cdown.days {
  width: 80px;
}
.cdown.hour {
  width: 70px;
}
.cdown.minutes {
  width: 60px;
}
.cdown.second > span {
  width: 50px;
}
.coming-soon-heading {
  padding: 70px 0 70px;
}
.deal-count {
  padding-bottom: 70px;
}
.subscribe-menu ul li {
  margin-right: 5px;
}
.subscribe-menu ul li a {
  font-size: 15px;
}
.coming-soon-area {
  min-height: 590px;
}
.wrap-404 > a {
  margin-right: 5px;
  width: 200px;
  margin-bottom: 10px;
}
.area-404 {
  height: 850px;
}
.footer-img a {
  width: 33.33%;
}
.wrap-404 p {
  font-size: 22px;
}
.search-box form button {top:10px;}
.mobile-menu.mean-container {
  width: 270px;
}
.cart-wrap {
  right: -10px;
  width: 250px;
}
.blog-info span.date {
  font-size: 14px;
}
.blog-meta {
  margin-top: 20px;
}
}

 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.blog-wrap .blog-video iframe {
  height: 195px;
}
.home7-blog-wrap .blog-info span.date {
  top: 217px;
}
.coming-soon-heading h1 {
  font-size: 55px;
}
.time-count {
  font-size: 20px;
}
.timer span p {
  font-size: 18px;
}
}
 
